:root {
  --colorPrincipal: #09192f;
  --colorPrincipal2: #112240;
  --colorSecundario: #64ffda;
  --textoPrimario: #ccd6f6;
  --textoSecundario: #8892b0;

  --fontPrincipal: "Montserrat", sans-serif;
  --fontSecundaria: "Roboto", sans-serif;
}

/*======================================= COSAS GENERALES==================================================== */

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* Now 10px = 1rem! */
  box-sizing: border-box;
  background-color: var(--colorPrincipal);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1 {
  font-family: var(--fontPrincipal);
  font-size: clamp(4rem, 8vw, 8rem);
  margin: 0;
  color: var(--textoPrimario);
  font-weight: 600;
}

h2 {
  font-family: var(--fontPrincipal);
  font-size: clamp(3rem, 7vw, 7rem);
  margin: 0;
  color: var(--textoSecundario);
  font-weight: 600;
}

h3 {
  font-family: var(--fontPrincipal);
  font-size: 3rem;
  margin: 0;
  color: var(--textoPrimario);
  font-weight: 600;
}

h4 {
  font-family: var(--fontPrincipal);
  font-size: 3rem;
  padding-top: 4rem;
  color: var(--textoPrimario);
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  font-family: var(--fontSecundaria);
  color: var(--textoSecundario);
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 5rem;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  gap: 2rem;
}

.overflorHidden {
  overflow: hidden;
}

.displayNone {
  display: none;
}

.displayNone2 {
  display: none;
}

span {
  color: var(--colorSecundario);
}

.aBoton {
  text-decoration: none;
}

/*======================================= FIRST MOBILE ==================================================== */

.flecha {
  position: fixed;
  bottom: 5%;
  right: 4%;
}

.nav {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  padding: 6rem 0;
}

.flex--nav {
  justify-content: end;
}

.menu {
  position: relative;
  width: 3rem;
  right: 0;
}

.revelarMenu {
  height: 100vh;
  width: 65%;
  position: absolute;
  background-color: var(--colorPrincipal2);
  right: 0%;
  top: 0;
  margin: 0;
  transition: all 0.3s ease-in;
  text-align: start;
  transform: translateX(-60%);
  backdrop-filter: blur(2rem);
}

.menuEscondido {
  height: 100vh;
  width: 65%;
  position: absolute;
  background-color: var(--colorPrincipal2);
  right: 0;
  top: 0;
  margin: 0;
  text-align: start;
  transform: translateX(-180%);
  transition: all 0.3s ease-out;
}

.menu:hover {
  cursor: pointer;
}

.menu span {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--colorSecundario);
  margin-top: 0.8rem;
  transform-origin: 0 100%;
  transition: all 0.3s ease-in-out;
}

.activeMenu--line1 {
  transform: rotate(45deg);
}

.activeMenu--line2 {
  opacity: 0;
  margin-left: -30px;
}

.activeMenu--line3 {
  transform: rotate(-45deg) translate(0px, 1px);
}

ul li {
  position: relative;
  bottom: 60%;
  list-style: none;
  color: var(--textoPrimario);
  font-size: 1.5rem;
  font-family: var(--fontSecundaria);
  text-transform: uppercase;
  transition: color 0.2s ease;
  margin-right: 2rem;
}

ul li:hover {
  color: var(--colorSecundario);
  cursor: pointer;
}

#home {
  min-height: 100vh;
}

#sobreMi {
  min-height: 100vh;
  background-color: var(--colorPrincipal2);
  padding-bottom: 2rem;
}

#proyectos {
  min-height: 100vh;
  background-color: var(--colorPrincipal);
}

#roadmap {
  min-height: 100vh;
  background-color: var(--colorPrincipal2);
  padding-bottom: 2rem;
}

li a {
  text-decoration: none;
  color: var(--textoPrimario);
  transition: color 0.2s ease-in;
}

li a:hover {
  color: var(--colorSecundario);
}

.presentacion {
  height: 100%;
}

.p--presentacion {
  color: var(--colorSecundario);
  font-size: clamp(1.4rem, 5vw, 1.8rem);
  margin: 0;
  font-family: var(--fontPrincipal);
  font-weight: 600;
}

.p--presentacion-info {
  margin: 0;
  color: var(--textoSecundario);
  font-size: clamp(1.4rem, 5vw, 1.6rem);
  font-family: var(--fontPrincipal);
  font-weight: 600;
}

.card {
  background-color: var(--colorPrincipal2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
}

.p--rrhh {
  color: var(--textoSecundario);
  font-size: 1.4rem;
  margin: 0;
  font-family: var(--fontPrincipal);
  font-weight: 600;
}

.iconos--rrhh {
  width: 4rem;
  color: var(--textoPrimario);
}

.flex--rrhh {
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.copy:hover {
  cursor: pointer;
}

.textoCopiado {
  margin: 0;
  font-family: var(--fontSecundaria);
  font-size: 2rem;
  color: var(--colorSecundario);
  text-align: center;
  text-transform: uppercase;
}

.button {
  background-color: var(--colorPrincipal2);
  height: 5rem;
  border: 0.1rem solid var(--colorSecundario);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  color: var(--colorSecundario);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--fontPrincipal);
  text-align: center;
  padding: 0 0.5rem;
}

.button:hover {
  background-color: rgba(100, 255, 218, 0.1);
  cursor: pointer;
}

.link {
  text-decoration-style: solid;
  color: var(--colorSecundario);
}

.barra {
  margin: 2rem 0;
  width: 100%;
  height: 1.5rem;
  background-color: var(--textoSecundario);
  border-radius: 1rem;
}

.progresoJS {
  margin: 2rem 0;
  width: 3.3%;
  height: 1.5rem;
  background-color: var(--textoPrimario);
  border-radius: 1rem;
}

.progresoJS:after {
  content: "1/30";
  width: 1rem;
  position: absolute;
  font-size: 1.5rem;
  right: 15%;
  color: var(--colorPrincipal2);
  font-family: var(--fontSecundaria);
}

.progresoLogica {
  margin: 2rem 0;
  width: 2.5%;
  height: 1.5rem;
  background-color: var(--textoPrimario);
  border-radius: 1rem;
}
.progresoLogica:after {
  content: "1/40";
  width: 1rem;
  position: absolute;
  font-size: 1.5rem;
  right: 15%;
  color: var(--colorPrincipal2);
  font-family: var(--fontSecundaria);
}

/*======================================= 768PX ==================================================== */

@media (min-width: 900px) {
  h4 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .presentacion {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .info {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .card {
    grid-column: 5/7;
    grid-row: 1/2;
  }

  .menu {
    display: none;
  }

  .menuEscondido {
    flex-direction: row;
    height: auto;
    width: auto;
    position: static;
    background-color: transparent;
    right: 0;
    top: 0;
    margin: 0;
    text-align: end;
    transform: translateX(0);
  }

  .revelarMenu {
    flex-direction: row;
    height: auto;
    width: auto;
    position: static;
    background-color: transparent;
    right: 0;
    top: 0;
    margin: 0;
    text-align: end;
    transform: translateX(0);
  }

  .overflorHidden {
    overflow: visible;
  }

  .button {
    width: 20rem;
    margin: 0 auto;
  }
}

/*======================================= 1024PX ==================================================== */

@media (min-width: 1024px) {
  h4 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .presentacion {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .info {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .card {
    grid-column: 5/7;
    grid-row: 1/2;
  }

  .menu {
    display: none;
  }

  .menuEscondido {
    flex-direction: row;
    height: auto;
    width: auto;
    position: static;
    background-color: transparent;
    right: 0;
    top: 0;
    margin: 0;
    text-align: end;
    transform: translateX(0);
  }

  .revelarMenu {
    flex-direction: row;
    height: auto;
    width: auto;
    position: static;
    background-color: transparent;
    right: 0;
    top: 0;
    margin: 0;
    text-align: end;
    transform: translateX(0);
  }

  .overflorHidden {
    overflow: visible;
  }

  .button {
    width: 20rem;
    margin: 0 auto;
  }
}

/*======================================= 1200PX ==================================================== */

@media (min-width: 1200px) {
  h4 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .presentacion {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .info {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .card {
    grid-column: 5/7;
    grid-row: 1/2;
  }

  .menu {
    display: none;
  }

  .menuEscondido {
    flex-direction: row;
    height: auto;
    width: auto;
    position: static;
    background-color: transparent;
    right: 0;
    top: 0;
    margin: 0;
    text-align: end;
    transform: translateX(0);
  }

  .revelarMenu {
    flex-direction: row;
    height: auto;
    width: auto;
    position: static;
    background-color: transparent;
    right: 0;
    top: 0;
    margin: 0;
    text-align: end;
    transform: translateX(0);
  }

  .overflorHidden {
    overflow: visible;
  }

  .button {
    width: 20rem;
    margin: 0 auto;
  }
}
